name: CI
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: golangci-lint
      uses: reviewdog/action-golangci-lint@v1
      # uses: docker://reviewdog/action-golangci-lint:v1 # pre-build docker image
      with:
        github_token: ${{ secrets.github_token }}